[submodule "vendor/raylib-cpp"]
	path = vendor/raylib-cpp
	url = https://github.com/robloach/raylib-cpp
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "vendor/immer"]
	path = vendor/immer
	url = https://github.com/arximboldi/immer.git
[submodule "vendor/libhttpserver"]
	path = vendor/libhttpserver
	url = https://github.com/etr/libhttpserver.git
[submodule "vendor/lager"]
	path = vendor/lager
	url = https://github.com/arximboldi/lager.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
